body {
    background: linear-gradient(45deg, rgb(128, 128, 127), rgb(62, 62, 62));
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: white;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.juegoDados {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.primerJugador, .segundoJugador {
    color: white;
    width: 48%;
    text-align: center;
}

h3 {
    font-size: 24px;
    margin-top: 0;
}

#dado1, #dado2 {
    margin-top: 20px;
}

select, button {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

button {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #7d7d7d;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 24px;
    color: white;
    margin: 0;
}
