body {
    background: linear-gradient(45deg, rgb(123, 123, 123), rgb(62, 62, 62));
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.primerCalculo{
    color: white;
    width: 50%;
    text-align: center;
    float: left;
    margin-bottom: 50px;
}



.segundoCalculo{
    color: white;
    width: 50%;
    text-align: center;
    float: right;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.texto {
    width: 250px;
    height: 30px;
    background: linear-gradient(45deg, rgb(144, 142, 142), rgb(197, 197, 197));
    border: 1px solid black;
    margin: 5px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.texto:hover {
    transform: scale(1.05);
}


button {
    width: 250px;
    height: 42px;
    background: linear-gradient(45deg, rgb(104, 104, 104), rgb(255, 255, 255));
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(99, 99, 99));
    transform: scale(1.1);
}

p {
    color: black;
    background-color: rgb(191, 191, 191);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
